<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ganspace_viewer.css' %}">
    </head>
    <body>

    

    <div>
        <div class = "image_window">
            <img id ="dummy_image" src = "{% static 'media/test.jpg'%}"></img>
            {% comment %} <canvas id="image_canvas"></canvas> {% endcomment %}
            
            {% comment %} <script src="{% static 'javascript/image_renderer.js' %}"></script> {% endcomment %}
        </div>

        <div class = "controllers">
            
            <div class = "layer_slider_window">
                <div class = "layer_start_slider">
                    <input type="range" min="1" max="100" value="50" class="layer_slider slider">
                    <div class = "layer_name">Layer Start</div>
                </div>

                <div class = "layer_end_slider">
                    <input type="range" min="1" max="100" value="50" class="layer_slider slider">
                    <div class = "layer_name">Layer End</div>
                </div>
            </div>

            <div class = "component_slider_window">
                {% for comp_number in component_list %}
                <div class = "component_sliders">
                    <div class = "component_name">Component {{comp_number}}</div>
                    <button class = "save_button button">Save</button>
                    <input type="range" min="1" max="100" value="50" class="component_slider slider">
                </div><br>
                {% endfor %}
            </div>

            <div class = "other_modifiers">

                <div class = "reset_button_window">
                    <button class = "reset_button button">Reset</button>
                </div>
                
                <div class = "batch_size_window">
                    <input type="range" min="1" max="100" value="50" class="batch_slider slider">
                    <div class = "batch_size">Batch Size</div>
                </div>

                <div class = "update_seed_window">
                    
                    <button class = "update_button button">Update Seed</button>
                    <input type = "text" class="seed_value">

                </div>

                <div class = "resample_latent_window">
                    <button class = "resample_button button">Resample Latent</button>
                </div>

            </div>
        <div>
    </div>
    
    </body>
</html>