:root{
  --sidebar_width: 15%;
  --soft_white: rgb(241, 241, 241);
}

/* The sidebar menu */
#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar_width); /* Set the width of the sidebar */ 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--soft_white); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;    
  }
  
  /* navigation font styles */
  #sidenav a {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 18px;
    color: #979696;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
  } */

  #sidenav h4 {
    padding: 0px 16px;
    text-decoration: none;
    color:rgb(100, 99, 99)
  }

  #sidenav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
  }

  #sidenav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /*Change the link color on hover*/ 
  #sidenav li a:hover {
    background-color: rgb(100, 99, 99);
    color: white;
  }

  /* divider line*/
  /* .line {
    width: 100%;
    height: 10;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: absolute;
  } */

/* Style page content */
.main {
  margin-left: var(--sidebar_width); /* Same as the width of the sidebar */
  padding: 0;
}

/*TODO: this is a temporary styling, remove this when implementing full website */
h1 {
  text-align: center;
  padding-top: 25%;
}