{% extends 'admin_base.html' %}


{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/model_list.css' %}">

    <div id="main">
    
    {% for model in model_list %}
    <div class="model_list">
        <div id="model" class="inline"> {{ model }} </div>
        <div id= "buttons" class="inline">
            <button class="button"><a class="modify_button" href = "{% url 'm_name' model %}"> Modify Parameters </a></button>
            <button class="button"> Hide Model </button>
            <button class="button"> Delete Model </button>
            <button class="button"> Button </button>
        </div>
        
    </div><br>
    <div class = "line_a"> </div>
    
    {% endfor %}

    </div>
{% endblock %}